@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode Colors */
  --background: #ffffff;
  --foreground: #171717;
}

/* Add Satoshi as the default font for the app */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Satoshi', sans-serif; /* Satoshi as primary font */
}

